# Default ignored files
/.idea/workspace.xml
/Data/*
/examples/Data/*
/my_examples/*
/.idea
/src/__pycache__/
/src/mesh_old.py
checkPicAnd
run_scripts
timingPicAnd.txt
TI_Kernel/build/*
.DS_Store
examples/.DS_Store
/snapshots/*