# Created by .ignore support plugin (hsz.mobi)

# Build, packaging and environment files
*__pycache__*
Pipfile.lock
.venv
venv

# IDEs
.idea
.vscode

# OS litter
*.DS_Store

# Pyfrac has a separate repository for notebooks
*.ipynb
*.nb

# Logs
pip-log.txt
pip-delete-this-directory.txt
LOG
*.log
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Pyfrac conventions
Data
